importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")

importFrom(dplyr,"distinct")
importFrom(dplyr,"collect")
importFrom(dplyr,"filter")
importFrom(dplyr,"filter_at")
importFrom(dplyr,"mutate")
importFrom(dplyr,"select")
importFrom(dplyr,"left_join")
importFrom(dplyr,"group_by")
importFrom(dplyr,"group_by_at")
importFrom(dplyr,"ungroup")
importFrom(dplyr,"summarise")
importFrom(dplyr,"arrange")
importFrom(dplyr,"desc")
importFrom(dplyr,"row_number")
importFrom(dplyr,"pull")
importFrom(dplyr,"vars")
importFrom(dplyr,"all_vars")

importFrom(rgee, 'ee_Initialize')
importFrom(rgee, 'ee_check')
importFrom(rgee, 'ee')
importFrom(rgee, 'sf_as_ee')
importFrom(rgee, 'ee_as_raster')
importFrom(glue, 'glue')

importFrom(lubridate, 'ymd')

exportPattern("^[[:alpha:]]+")
export("%>%")
