importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")

importFrom(dplyr,"collect")
importFrom(dplyr,"filter")
importFrom(dplyr,"mutate")
importFrom(dplyr,"select")
importFrom(dplyr,"left_join")
importFrom(dplyr,"group_by")




exportPattern("^[[:alpha:]]+")
export("%>%")

